.todoItem{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: rem-calc(20);    
    background-color: white;
    margin-bottom: 10px;

    div{
        display: flex;

        input{
            margin-right: 20px;
            width: 20px;
        }
    }
}