.searchBar{
    display: flex;

    input{
        flex: 1;
        margin-right:10px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 1;
        border: 1px solid gray;
        border-radius: rem-calc(20);
    }
}